{% extends '../layout.html' %} {% block content %}
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-5">
      <form method="POST">
      {% csrf_token %}
        <h2>Bạn đang phản hồi cho Order</h1>
        <div class="form-group mt-2">           
          <label>ID : </label>
          <input class='form-control' type='text' value="{{order.id}}" readonly>
        </div>
        <div class="form-group mt-2">           
          <label>Ngày : </label>
          <input class='form-control' type='text' value="{{order.date}}" readonly>
        </div>
        <div class="form-group mt-2">           
          <label>Đánh giá chất lượng : </label>
          <select class='form-control' name='quality'>
            <option value='1'>Rất tệ</option>
            <option value='2'>Tệ</option>
            <option value='3'>Ổn</option>
            <option value='4'>Tốt</option>
            <option selected value='5'>Rất tốt</option>
          </select>
        </div>
        <div class="form-group mt-2">           
          <label>Yêu cầu : </label>
          <select class='form-control' name='action'>
            <option value='1'>Trả hàng, hoàn tiền</option>
            <option selected value='2'>Không yêu cầu</option>
          </select>
        </div>
        <div class="form-group mt-2">            
          <label>Mô tả về lỗi phản ánh : </label>
          <textarea
            row="20"
            style="height: 200px"
            class="form-control mt-2"
            name="content"
            placeholder="Nhập nội dung phản ánh..."
          ></textarea>
        </div>
        <button class="btn btn-primary mt-4" type="submit">Gửi phản ánh</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
