{% extends '../layout.html' %} {% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-5">
      {% for message in messages %}
      <div id="mess" style="height: 80px">
        <div
          class="alert alert-{{message.tags}} d-flex justify-content-between align-items-center"
          role="alert"
        >
          {{message}}
          <i
            class="far fa-times-circle"
            onclick="document.querySelector('#mess').style.display='none';"
          ></i>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container d-flex justify-center align-items-center">
  <div class="row">
    {% for item in items %}
    <div class="card" style="width: 18rem">
      <img
        src="https://picsum.photos/100/100"
        class="card-img-top mt-3"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">
          <a href="item/{{item.product.id}}/">{{item.product.name}}</a>
        </h5>
        <p>( Giá : {{item.product.price}} - Số lượng : {{item.quantity}})</p>
        <p class="card-text">{{item.product.description}}</p>
        {% if item.quantity > 0 %}
        <a href="add-to-cart/{{item.product.id}}/" class="btn btn-primary"
          >Thêm vào giỏ</a
        >
        <a href="buy-now/{{item.product.id}}/" class="btn btn-primary"
          >Mua ngay</a
        >
        {% endif %} {% if item.quantity == 0 %}
        <p class="btn btn-light">Hết hàng</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
