<div>This is user's page</div>
<div>
  <input
    value="{{person.fullName.firstName}}"
    name="firstName"
    placeholder="First Name"
    readonly
  />
</div>
<div>
  <input
    value="{{person.fullName.middleName}}"
    name="middleName"
    placeholder="Middle Name"
    readonly
  />
</div>
<div>
  <input
    value="{{person.fullName.lastName}}"
    name="lastName"
    placeholder="Last Name"
    readonly
  />
</div>
Account
<div>
  <input
    value="{{person.account.username}}"
    name="username"
    placeholder="Username"
    readonly
  />
</div>
Address
<div>
  <input
    type="text"
    value="{{person.address.wards}}"
    name="wards"
    placeholder="Ward"
    readonly
  />
</div>
<div>
  <input
    type="text"
    value="{{person.address.district}}"
    name="district"
    placeholder="District"
    readonly
  />
</div>
<div>
  <input
    type="text"
    value="{{person.address.province}}"
    name="province"
    placeholder="Province"
    readonly
  />
</div>

<div>
  <input
    type="date"
    value="{{person.dob}}"
    name="dob"
    placeholder="Date of birth"
    readonly
  />
</div>
<div>
  <input
    type="text"
    value="{{person.email}}"
    name="email"
    placeholder="Email"
    readonly
  />
</div>
<div>
  <input
    type="text"
    value="{{person.phone}}"
    name="phone"
    length="10"
    placeholder="Phone"
    readonly
  />
</div>
<a href="./update/">Update</a>
