{% extends '../layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <p>Name : {{product.name}}</p>
    <p>Price : {{product.price}}</p>
    <a
      class="btn btn-primary"
      style="width: 150px"
      href="/add-to-cart/{{product.id}}"
      >Thêm vào giỏ</a
    >
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <form method="POST" action="/comment/{{product.id}}/?next={{request.path}}">
      {% csrf_token %}
      <div class="form-group w-50">
        <textarea
          type="text"
          placeholder="Comment..."
          name="content"
          class="form-control"
        ></textarea>
        <input
          type="number"
          step="1"
          value="1"
          name="rate"
          max="5"
          min="1"
          class="form-control w-25"
        />
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
  </div>
  <div class="container">
    <p>All comments</p>
    <div class="row">
      {% for comment in comments %}
      <div class="row">
        <div><b>{{comment.account.username}}</b> - {{comment.created}}</div>
        <div>{{comment.content}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
